{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {# Navigation - BEGIN #}
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #e14b4b;">
            <div class="container"><a class="navbar-brand" href="{{ path('homepage') }}"><img src="/assets/img/site/logo_flat.png" style="width: 100px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ path('admin_panel') }}">Admin</a></li>
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('cart') }}"><i class="fas fa-shopping-bag" style="font-size: 22px;"></i></a></li>
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('account') }}"><i class="fa fa-user" style="font-size: 22px;"></i></a></li>
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-power-off" style="font-size: 22px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {# Navigation - END #}
    {% elseif is_granted('ROLE_USER') %}
        {# Navigation - BEGIN #}
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #e14b4b;">
            <div class="container"><a class="navbar-brand" href="{{ path('homepage') }}"><img src="/assets/img/site/logo_flat.png" style="width: 100px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('cart') }}"><i class="fas fa-shopping-bag" style="font-size: 22px;"></i></a></li>
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('account') }}"><i class="fa fa-user" style="font-size: 22px;"></i></a></li>
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-power-off" style="font-size: 22px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {# Navigation - END #}
    {% else %}
        {# Navigation - BEGIN #}
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #e14b4b;">
            <div class="container"><a class="navbar-brand" href="{{ path('homepage') }}"><img src="/assets/img/site/logo_flat.png" style="width: 100px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('cart') }}"><i class="fas fa-shopping-bag" style="font-size: 22px;"></i></a></li>
                        <li class="nav-item text-center" style="text-align: center;height: 47px;"><a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-user-plus" style="font-size: 22px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {# Navigation - END #}
    {% endif %}


    {# Body - BEGIN #}
    <body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="margin-top: 50px;">
                <div class="container-fluid">
                    <h3 class="text-center text-dark mb-4">Mon compte</h3>
                    <div class="row mb-3" style="margin-right: 10%;margin-left: 10%;">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 font-weight-bold"><a style="color: #e14b4b">Voir et changer les paramètres du compte</a></p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div style="border-width: 1px;border-style: dashed;">
                                            <h3 style="padding-top: 15px;padding-left: 5px;">Identifiants</h3>
                                            <div class="form-row" style="margin-bottom: 50px;margin-left: 5px;margin-right: 5px;border-width: 1px;border-style: none;">
                                                <div class="col" style="border-style: none;">
                                                    <div class="form-group"><label for="email"><strong>Adresse mail</strong></label><input class="form-control" type="email" placeholder="user@example.com" value="{{ userdata.0.email }}" name="email"></div>
                                                </div>
                                                <div class="col" style="border-style: none;">
                                                    <div class="form-group"><label for="email"><strong>Changer mon mot de passe</strong></label><input class="form-control" type="email" name="Change password" placeholder="********"><label for="email" style="margin-top: 10px;"><strong>Confirmez votre nouveau mot de passe</strong></label><input class="form-control" type="email" name="Change password" placeholder="********"></div>
                                                </div>
                                                <div>
                                                    <select>
                                                        <optgroup label="This is a group">
                                                            <option value="12" selected="">This is item 1</option>
                                                            <option value="13">This is item 2</option>
                                                            <option value="14">This is item 3</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="padding-bottom: 50px;"></div>
                                        <div style="border-width: 1px;border-style: dashed;">
                                            <h3 style="padding-left: 5px;">Mes informations</h3>
                                            <div class="form-row" style="border-width: 1px;border-style: none;padding-right: 5px;padding-left: 5px;margin-left: 5px;margin-right: 5px;">
                                                <div class="col" style="border-style: none;">
                                                    <div class="form-group"><label for="first_name"><strong>Prénom</strong></label><input class="form-control" type="text" placeholder="Prénom" value="{{ userdata.0.first_name }}" name="first_name"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="last_name"><strong>Nom</strong><br></label><input class="form-control" type="text" placeholder="Nom" value="{{ userdata.0.last_name }}" name="last_name"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-bottom: 50px;"></div>
                                        <div style="border-width: 1px;border-style: dashed;">
                                            <h3 style="padding-left: 5px;">Mon domicile</h3>
                                            <div class="form-row" style="margin-right: 0px;margin-left: 0px;padding-left: 5px;padding-right: 5px;">
                                                <div class="col">
                                                    <div class="form-group" style="border-width: 1px;border-style: none;"><label for="address"><strong>Address</strong></label><input class="form-control" type="text" placeholder="11 bis rue Saint Jean" name="address" value="{{ userdata.0.adress }}"></div>
                                                </div>
                                            </div>
                                            <div class="form-row" style="margin-top: 30px;border-width: 1px;border-style: none;margin-left: 0px;margin-right: 0px;padding-left: 5px;padding-right: 5px;">
                                                <div class="col">
                                                    <div class="form-group"><label for="country"><strong>Code postal</strong></label><input class="form-control" type="text" placeholder="60200" name="country" value="{{ userdata.0.cp }}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="city"><strong>Ville</strong></label><input class="form-control" type="text" placeholder="Ville" name="city" value="{{ userdata.0.city }}"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="country"><strong>Pays</strong><br></label><input class="form-control" type="text" placeholder="France" name="country" value="{{ userdata.0.country }}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin-bottom: 100px;margin-top: 50px;"><button class="btn btn-primary" style="background-color: #e14b4b; border-width: 0;" type="submit">Mettre à jour</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
    </body>

    </html>
    {# Body - END #}
{% endblock %}
